*{
    margin: 0;
    padding: 0;
}

.header{
    color: #1abc9c;
    font-family: Arial;
}

.boks{
    font-family: "Calibri Light";
    font-size: 2.5vw;
    margin-left: 20%;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: 100px;
    text-align: center;

}
.boks h1{
  margin-top:  85px;
}

p{
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 30px;
}
.top{
    width: 100%;
}
.main-header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 2.5vw;
}

.nav{
  position: fixed;
  top: 0;
  width: auto;
  background-color: black;
  padding: 10px;
}
.nav a {
    font-size: 2.5vw;
  text-decoration: none;
  color: white;
  padding:5px;

}
.nav a:hover {
  background: gray;
}

.BlindeBoksBilde{
    height: 400px;
}

.Bottom{
    position: sticky;
    bottom: 0;

}

.Contactus{
    font-family: "Calibri Light";
    font-size: 2.5vw;
    margin-left: 20%;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: 100px;
    text-align: center;
}

.Problem{
    font-family: "Calibri Light";
    font-size: 2.5vw;
    margin-left: 20%;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: 100px;
    text-align: center;
}

.Solution{
    font-family: "Calibri Light";
    font-size: 2.5vw;
    margin-left: 20%;
    margin-top: 20px;
    margin-right: 20%;
    margin-bottom: 20px;
    text-align: center;
}
@media (max-width:500px){
  .nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
}
}

@media (max-width:840px){
    img{
        width: 100%;
    }
    .boks{
        font-size: 5vw;
    }
    .Problem{
        font-size: 5vw;
    }
    .Contactus{
        font-size: 5vw;
    }
    .Solution{
        font-size: 5vw;
    }
    .nav a{
        font-size: 5vw;
    }
    .main-header{
        font-size: 5vw;
    }
}

@media (max-width:1000px){
    .boks{
        margin-left: 0;
        margin-right: 0;
    }
    .Problem{
        margin-left: 0;
        margin-right: 0;
    }
    .Solution{
        margin-left: 0;
        margin-right: 0;
    }
    .Contactus{
        margin-left: 0;
        margin-right: 0;
    }

}
.container-form {
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
}

input[type=text], textarea {
    resize: vertical;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 13px;
    width: 100%;
    border: 1px solid grey;
}

input[type=submit] {
    background-color: cornflowerblue;
    padding: 10px, 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: Highlight;
    }
.forside-bilde{
    background-image: url("../pics/blindeskriftmledningLowRes.jpg");
    height: 300px;
    width: 514px;
    background-size: 100%;
    margin-left: 20%;
}

